<!DOCTYPE html>
<html>
<head>
  <title>Shortenizer</title>
  <%= stylesheet_link_tag    "shortenizer/application", media: "all" %>
  <%= javascript_include_tag "shortenizer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= flash[:message] if flash[:message] %>

<%= yield %>

</body>
</html>
